<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Message Sent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css"> <!-- Bootstrap 4 Alpha -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css"> <!-- Material Design Bootstrap 4 -->
    <link rel="stylesheet" href="https://dawnguard.github.io/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- Fonts Imports -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      
    
    
