<% include partials/header %>

<div id="success">
  <!--<div class="col-md-6 offset-md-3">-->
  <h1>Message Sent!</h1>
  <hr>
  <a class="btn btn-primary btn-lg" href="https://dawnguard.github.io/">Continue</a>
<!--</div>-->
</div>



<% include partials/footer %>